/* reset básico */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: flexbox;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #f1f1ef;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*NavBar*/
header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background: linear-gradient(to right, #4bd0cf, #0e2f3c);
    color: red;
    margin: 0%;
    padding: 30px;
    height: 100px;
    width: 100%;
}

nav{
    grid-column: span 3;
    display: flexbox;
    flex-direction: column;
    background: linear-gradient(to right, #4bd0cf, #0e2f3c);
    height: 100px;
    padding: 15px;
}



@media (min-width: 1170px) {
    header {
        max-width: 100%;
    }
}

@media (min-width: 980px) {
    .header{
        width: 100%;
    }
}

@media (min-width: 780px) {
    .header{
        width: 100%;
    }
}

@media (min-width: 480px) {
    .header{
        width: 100%;
    }
}

/* tres colunas */
@media (min-width: 728px) {
    .header{
        width: 100%;
    }
}




a:link,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #4bd0cf;
    font-weight: bold;
    
}

/* Flex styles -------------------------------------------------*/



/* Logo 
------------------------------------ */
#logo {
    width: 248px;
    height: 10px;
    display: block;
    margin-left: 100px;
    margin-top: 20px;
    align-items: initial;
}


/* Barra de navegação 
------------------------------------ */


nav ul {
    list-style: none;
    margin-right: 100px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 20px;
}


.navPanelToggle {
    position: fixed;
    text-decoration: none;
    height: 4em;
    right: 3em;
    top: .75em;
    width: 4em;
    display: none;
    z-index: 10002;
}

    .navPanelToggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        color: #fff;
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }

    @media screen and (max-width: 980px) {

        .navPanelToggle {
            display: block;
        }

    }

    @media screen and (max-width: 736px) {

        .navPanelToggle {
            right: 1em;
        }

    }

    .navPanelToggle *:before {
        color: #fff;
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }


.space {
    color: #012C4F;
    border: 1px solid;
    white-space: nowrap;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    height: 50px;
}

.box {
    color: #4bd0cf;
    background-color: #002a50;
    border: 1px solid;
    white-space: nowrap;
    font-weight: bold;
    font-size: 22px;
    padding: 11px;
    height: 50px;
}

/* conteiner */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.container.\31 25\25 {
    width: 100%;
    max-width: 100em;
    min-width: 80em;
}

.container.\37 5\25 {
    width: 60em;
}

.container.\35 0\25 {
    width: 40em;
}

.container.\32 5\25 {
    width: 20em;
}

.container {
    width: 80em;
}

@media screen and (max-width: 1680px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 100em;
        min-width: 80em;
    }

    .container.\37 5\25 {
        width: 60em;
    }

    .container.\35 0\25 {
        width: 40em;
    }

    .container.\32 5\25 {
        width: 20em;
    }

    .container {
        width: 80em;
    }

}

@media screen and (max-width: 1280px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 81.25em;
        min-width: 65em;
    }

    .container.\37 5\25 {
        width: 48.75em;
    }

    .container.\35 0\25 {
        width: 32.5em;
    }

    .container.\32 5\25 {
        width: 16.25em;
    }

    .container {
        width: 65em;
    }

}

@media screen and (max-width: 980px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90%;
    }

}

@media screen and (max-width: 736px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90% !important;
    }

}

@media screen and (max-width: 480px) {

    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }

    .container.\37 5\25 {
        width: 67.5%;
    }

    .container.\35 0\25 {
        width: 45%;
    }

    .container.\32 5\25 {
        width: 22.5%;
    }

    .container {
        width: 90% !important;
    }

}







/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}

/* duas colonas */
@media (min-width: 480px) {
    .col-2 {
        width: 50%;
    }
}

/* tres colunas */
@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}

/* sidebar */
@media (min-width: 992px) {
    .col-content {
        width: 60%;
    }

    .col-sidebar {
        width: 40%;
    }
}


/* USAR APENAS PARA DEMOSTRAÇÂO */
.teste {
    background: white;
    padding: 30px;
    text-align: justify;
    margin: 10px 10px;
    color: #002a50;
    display: inline-flex;
}

.testeHead {
    background: white;
    padding: 30px;
    text-align: justify;
    margin: 10px 10px;
    color: #002a50;
}

.big {
    height: 50px;
}

.avatar {
    border-radius: 100%;
    width: 8rem;
    padding: 20px;
}

.seguidor {
    border-radius: 100%;
    width: 2rem;
    padding: 4px;
    text-align: center;
    background-color: #4bd0cf;
    height: 35px;
    margin-top: 15px;
    margin-left: 10px;
}


.wrapper {
    display: grid;
    grid-template-columns: 80px 20px;
    padding-top: 30px;
    padding-left: 30px;
}

.wrapperG {
    display: grid;
    grid-template-columns: 80px 20px 100px;
}

.wrapperH {
    display: grid;
    grid-template-columns: 100px 100px;
}

#firstRow{
    display: flex;
}

.status {
    font-weight: bold;
    color: #002a50;
}

.positionJob {
    color: #666666;
    font-size: 12px;
}

.cardName {
    padding-top: 40px;
    padding-left: 30px;
}

.teste:hover {
    background-color: #002a50;
    color: white;

}

/* .status:hover{
    font-weight: bold;
    color: white;
}

.positionJob:hover{
    color: white;
} */

@media screen and (min-width: 760px){
    nav{
        width: 100%;
    }
}

.user .user-item .user-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
  }
  .user .user-item .user-item-caption:hover {
    opacity: 1;
  }
  .user .user-item .user-item-caption .user-item-caption-content {
    font-size: 1.5rem;
  }
  
  .user-modal .user-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .user-modal .user-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
  .user-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
    opacity: 1;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }